# to export this .env to a terminal session:
# export $(grep '^CF_' .env | xargs)

# SSH KEYS
#   > ⚠ IaCarus assume the path `~` ($HOME) to setup and clean the following:
#   - `config` file, that holds the ssh connection configuration.
#   - `known_hosts` file, that holds the trusted ssh hosts.
#   > If you have another "pattern" on your system, setup the SSH_HOME_PATH:
SSH_HOME_PATH=$HOME/.ssh

#   1. if you need to generate a new key pair:
#   `ssh-keygen -t ed25519 -f ~/.ssh/key-name -C "comment-to-identify-the-key"`
#   OR
#   `ssh-keygen -t ed25519 -f <whatever-you-set-on_SSH_HOME_PATH>/key-name -C "comment-to-identify-the-key"`
#   2. if not, you could use one of your ssh keys.
SSH_KEY_PATH=$SSH_HOME_PATH/key-name
SSH_PUBLIC_KEY_PATH=${SSH_KEY_PATH}.pub
SSH_PRIVATE_KEY_PATH=${SSH_KEY_PATH}

# CLOUDFLARE
#   > For the next steps you might need to provide a valid international
#   > credit card, despite the generous free tier, the Zero Trust and R2
#   > Storage have paid features.

# CLOUDFLARE ZERO TRUST TUNNEL
#   1. access your cloudflare account: https://dash.cloudflare.com
#   2. go to "Zero Trust" (under 'PROTECT & CONNECT' menu group).
#   3. go to "Connectors" (under 'Networks' menu group).
#   4. click on "+ Create a tunnel" button.
#   5. choose "Cloudflared" by clicking on "Select Cloudflared".
#   6. give it a "Name" and click the "Save tunnel" button.
#   7. in the "Configure", under "Choose your environment" hit "Docker".
#   8. copy the docker command under "Install and run a connector".
#   9. only the token is needed, looks like: eyJhIjoiMjg3YTUyNDAyZG...

# a cloudflare tunnel to use for smoke test!
CF_TUNNEL_SMOKE_TEST_TOKEN=

# one (or more) cloudflare tunnel(s) - one for each VPS!
CF_TUNNEL_TOKEN=

# CLOUDFLARE R2 STORAGE
#   1. access your cloudflare account: https://dash.cloudflare.com
#   2. go to "Overview" (under 'BUILD' > 'Storage & Databases' >
#      'R2 object storage' menu group).
#   (You might need click a "Create R2 Account"-like button).
#   3. click on "{ } Manage" buton on "API Tokens" ('Account Details' session).
#   4. click on "Create Account API token" button.
#   5. give it a "Name".
#   6. select "Admin Read & Write" under "Permissions".
#   7. leave the "TTL" as "Forever" (or select it).
#   8. optional, but recommended, configure the "Client IP Address Filtering".
#   9. hit the "Create Account API Token".

# cloudflare R2 storage tokens

#  10. this info is either with the #12 or in the "Overview" page
#      (under 'Account Details' session)
CF_R2_ACCOUNT_ID=

#  11. copy the value under "Token value" label.
CF_R2_TOKEN=

# cloudflare R2 storage tokens : S3 interface

#  12. check this value under "Use jurisdiction-specific endpoints
#      for S3 clients:" label or in the "Overview" page
#      (under 'Account Details' session)
CF_R2_S3_CLIENT_URL=https://${CF_R2_ACCOUNT_ID}.r2.cloudflarestorage.com

#  13. copy the value under "Access Key ID" label.
CF_R2_S3_CLIENT_ACCESS_KEY_ID=

#  14. copy the value under "Secret Access Key" label.
CF_R2_S3_CLIENT_SECRET_ACCESS_KEY=
